html,
body {
  height: 100%;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

#editor {
  height: calc(100% - 0px);
  margin: 0px;
  overflow: scroll;
}

.Sticky-menu-bar {
  display: inline-block;
  height: 50px;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  bottom: 0px;
}
