html,
body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

#editor {
  margin: 0px;
}

.Sticky-menu-bar {
  display: inline-block;
  height: 50px;
  width: 100%;
  border: 1px solid red;
  bottom: 0px;
}
